button.btn-primary{

  text-transform:capitalize;

  margin: 15px;
  
  min-width:200px;

  font-size: 30px;

  background-color:whitesmoke;

  color:black;

  border: 2px solid black;

  border-radius: 2%;

}

.imageElementFront{

  width: 100%;

}


html, 

body {
  font-family: Arial, sans-serif;
}

